.pinish-grid{
  overflow: visible;
  position: relative;
  
}
.pinish-grid .tile{
  position: absolute;
  overflow: hidden;
}

.pinish-grid .loading-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.pinish-grid.white .loading-mask {
  background-color: #fff; 
  background-image: url('img/ajax-loader-white.gif');
}

.pinish-grid.black .loading-mask {
  background-color: #000; 
  background-image: url('img/ajax-loader-black.gif');
}

.tile .media .content {
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  opacity: 0.7;
  overflow: auto;
  display: none;
  padding: 10px;
  transition:opacity 2s;
}

.white .tile .media .content {
  background-color: #FFF;
  color: #000;
}
.black .tile .media .content {
  background-color: #000;
  color: #FFF;
}

.tile:hover .media .content {
  display: block;
}

.tile .media>img {
  border: none;
}


/*
  This Style is not related to the plugin
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.tile .media .content {
  font-size: .8em;
}

.tile .media .content h3 {
  margin: 0 0 0.5em;
  font-size: 1em;
}